.App {
  background-color: #299494;
  min-height: 100vh;
  display: flex;
  align-items: center;
  color: #000;

}

.userform {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  height: 100%;
  width: 35%;
  background-color: #fff;
}

.userlist {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-left: 2rem;
  width: max-content;
}

/* UserForm */
.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-field {
  display: flex;
  align-items: center;
  padding: 5px 0px;
  width: 100%;
}

.user-field input {
  background-color: #f5f5f5;
  border: 2px solid #9b9b9b;
  border-radius: 40px;
  text-align: center;
  padding: 10px 0px;
  flex-grow: 1;
  margin-right: .4rem;
}

.user-field p {
  margin-right: 1rem;
}

#birthday {
  font-family: arial, sans-serif;
  text-transform: uppercase;
}

#submit {
  margin-top: 20px;
  background-color: rgb(87, 114, 238);
  border: 2px solid #1b1b1b;
  border-radius: 40px;
  padding: 10px 50px;
  color: #fff;
  margin-left: 1rem;
  margin-right: 1rem;
  transition: all 0.3s ease-in-out;
}

#submit:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* UserCard */
.usr-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #9b9b9b;
  border-radius: 2rem;
  padding: 0px 40px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.usr-btn b:hover {
  transform: scale(1.5);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.usr-btn button {
  display: flex;
  border: none;
  background: none;
  padding: 1rem 0;
  font-size: larger;
  margin-left: 1rem;
}

.usr-btn b {
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .App {
    flex-direction: column;
  }

  .userform {
    position: inherit;
    width: 100%;
    height: 50vh;
  }

  .userlist {
    padding: 1.5rem;
    grid-template-columns: 1fr;
  }

  .usr-card {
    width: 75%;
    height: 100%;
  }

  .user-form {
    width: 80%;
  }

  #first_name,
  #last_name,
  #email,
  #birthday {
    width: 100%;
  }

  #submit {
    width: 100%;
    padding: 10px 10px;
  }
}